/* 글꼴 눈누폰트 */
@font-face {
  font-family: "GowunBatang-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 스와이퍼 버튼 */
.swiper-button-prev {
  position: absolute !important;
  top: 50px !important;
  left: 0px !important;

  color: black !important;
  z-index: 99 !important;
}
.swiper-button-next {
  position: absolute !important;
  z-index: 99 !important;
  top: 50px !important;
  right: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

