@tailwind base;
@tailwind components;
@tailwind utilities;
/* 글꼴 */

/* Nanum Myeongjo */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap");
* {
  outline: none;
}
/* Jua */

  @import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
/* dh */

  @import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* dongle */
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
body {
  margin: 0 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 200px;
 height: 100vh;
 

 
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
